{% extends 'bootstrap_4_layout.html.twig' %}

{# Overwrite checkbox widget so you can implement url from privacy check (added |raw) #}
{%- block checkbox_widget -%}
    {% if label is defined and label is not same as(false) and label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
        <div class="checkbox">
    {% endif %}

    {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render is defined %}
    <label class="{% if inline is defined and inline %}checkbox-inline{% endif %}">
    {% endif %}

    <input type="checkbox" {{ block('widget_attributes') }}
            {% if value is defined %} value="{{ value }}"{% endif %}
            {% if checked is defined and checked %} checked="checked"{% endif %}
            {% if required -%} required="required" {%- endif -%}
    />
    {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
    {% if label_render is defined and widget_checkbox_label in ['both', 'widget'] %}
    {{ label|trans({}, translation_domain)|raw }}
    </label>
    {% endif %}
    {% endif %}
    {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
        </div>
        {% if block('form_message') is defined %}
            {{ block('form_message') }}
        {% endif %}
    {% endif %}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}  {% if required -%} required="required" {%- endif -%}/>
{%- endblock radio_widget -%}


{% block form_label %}
    {{ parent() }}

    {% if label is not same as(false) and required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    {{ parent() }}

    {% if sonata_help is defined and sonata_help is not same as ('') %}
        <span class="help-block">{{ sonata_help }}</span>
    {% endif %}
{% endblock %}

{% block double_button_row %}
    <div class="form-group">
        {%- for child in form %}
            <span class="mr-2">
                {{- form_widget(child) -}}
            </span>
        {% endfor -%}
    </div>
{% endblock %}