{% macro showTitleField(elem) %}
    {% set heading = 'h3' %}
    {% for possibleHeading in elem.fields.headingsize %}
        {% if possibleHeading.selected %}
            {% set heading = possibleHeading.value %}
        {% endif %}
    {% endfor %}

    <div class="form-group mb-4">
    <{{ heading }} class="{% if elem.fields.helptext is defined and elem.fields.helptext.value %}mb-0{%endif%}">
    {{ elem.fields.title.value }}
    </{{ heading }}>

    {% if elem.fields.helptext is defined and elem.fields.helptext.value %}
        <span class="help-block">{{ elem.fields.helptext.value }}</span>
    {% endif %}
    </div>
{% endmacro %}

{% macro showTextLinkField(elem) %}
    <div class="form-group mb-4">
        <div class="form-group mb-4">
           <p>
               {{ elem.fields.textbeforelink.value }} <a href="{{ elem.fields.url.value }}">{{ elem.fields.cta.value }}</a> {{ elem.fields.textafterlink.value }}
           </p>
        </div>
    </div>
{% endmacro %}
{% macro handleExtraHtml(html_prefix_col, form) %}
    {% if html_prefix_col[form.vars.name] is defined  %}
        {% for elem in html_prefix_col[form.vars.name] %}
            {% if elem.typefield == 'title'%}
                {{ _self.showTitleField(elem) }}
            {% endif %}
            {% if elem.typefield == 'linktext'%}
                {{ _self.showTextLinkField(elem) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% if success is defined and success %}
    <div class="form-success">
        <h1>{{ formBuilder.getSubmissionTitle|default('success_title'|trans) }}</h1>
        <p>{{ formBuilder.getSubmissionText|default('success_message'|trans) }}</p>
    </div>
{% else %}
    {% if formBuilderId is defined and formBuilderId is not null %}

        {% if form is defined %}
            {% form_theme form "PirastruFormBuilderBundle:Block:_form_theme.html.twig" %}
            {{ form_start(form, {'attr': {'method': 'POST', 'class': 'form-horizontal'}}) }}

                <div id="{{ form.vars.id }}">
                    {% for child in form.children %}
                        {{ _self.handleExtraHtml(html_prefix_col, child) }}
                        {{ form_row(child) }}
                    {% endfor %}
                </div>

                <input type="hidden" name="formId" class="form-num " value="{{ formBuilderId }}">
            {{ form_end(form) }}


            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css"
                  integrity="sha256-sEGfrwMkIjbgTBwGLVK38BG/XwIiNC/EAG9Rzsfda6A=" crossorigin="anonymous"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css"
                  integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                    integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"
                    integrity="sha256-wfVTTtJ2oeqlexBsfa3MmUoB77wDNRPqT1Q1WA2MMn4=" crossorigin="anonymous"></script>
            <script>
                $(function () {
                    $(".js-datepicker").datepicker({dateFormat: 'dd-mm-yy'});
                    $('select').select2({
                        minimumResultsForSearch: Infinity
                    });
                });
            </script>
        {% endif %}
    {% else %}
        Form not found !
    {% endif %}
{% endif %}
