{% if success is defined and success %}
    <div class="form-success">
        <h1>{{ formBuilder.getSubmissionTitle|default('success_title'|trans) }}</h1>
        <p>{{ formBuilder.getSubmissionText|default('success_message'|trans) }}</p>
    </div>
{% else %}
    {% if formBuilderId is defined and formBuilderId is not null %}

        {% if form is defined %}
            {% form_theme form "PirastruFormBuilderBundle:Block:_form_theme.html.twig" %}
            <form method="POST" class="form-horizontal" {{ form_enctype(form) }}>

                {{ form_widget(form) }}

                <input type="hidden" name="formId" class="form-num " value="{{ formBuilderId }}">
            </form>


            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css"
                  integrity="sha256-sEGfrwMkIjbgTBwGLVK38BG/XwIiNC/EAG9Rzsfda6A=" crossorigin="anonymous"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                    integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
            <script>
                $( function() {
                    $( ".js-datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
                } );
            </script>
        {% endif %}
    {% else %}
        Form not found !
    {% endif %}
{% endif %}